@{
    ViewBag.Title = "Acerca de ...";
}
<div class="page-header">
    <h1>Acerca de... <small>Visión, Misión y Valores</small></h1>
</div>
<ol class="breadcrumb">
    <li><a href="~/">Inicio</a></li>
    <li class="active">Acerca de</li>
</ol>

<blockquote>
    <p class="text-justify">
        Facilitador nace como un Trabajo de Fin de Grado (<abbr title="Trabajo de Fin de Grado"
                                                                class="initialism">TFG</abbr>) realizado por dos estudiantes de Grado de Ingeniería Informática de la Universidad
        de Huelva (<abbr title="Universidad de Huelva" class="initialism">UHU</abbr>) con el objetivo de dotar a la
        sociedad en general, y mas particularmente a los colectivos de discapacitados, de una herramienta que le ofrezca
        un plus de información que se adapte a sus necesidades del día a día.
    </p>
    <p class="text-justify">
        Según el <a href="http://imserso.es/InterPresent1/groups/imserso/documents/binario/bdepcd_2014.pdf">
            último informe
        </a> publicado por el IMSERSO, a fecha de 31 de diciembre de 2014 en España vivían un total de
        <strong>2.813.592</strong> que tenían reconocida una discapacidad en función de las condiciones recogidas en el
        <a href="https://www.boe.es/buscar/act.php?id=BOE-A-2013-12632&p=20131203&tn=1">Real Decreto Legislativo 1/2013, de 29 de noviembre.</a>
    </p>
    <p class="text-justify">
        Esos casi tres millones de personas pueden hacer uso de las múltiples aplicaciones, tanto
        web como móviles, que existen en la actualidad para poder acceder a información de diversa índole: horarios de
        trenes o aviones, reservas de hotel, callejeros, etc, pero, por lo general, dichas aplicaciones no suelen ofrecer
        un extra de información que si bien no se puede considerar como vital si que puede ayudar a facilitar el desarrollo
        diario de sus actividades. Par ello es para lo que nace Facilitador. Haciendo uso de la API de Google Maps, esta
        aplicación permitirá localizar a Organismos, negocios o locales que entre sus servicios ofrecen algo tan básico
        como puede ser servicios adaptados o facilidades de otra índole para aquellas personas que sufren algún tipo de
        discapacidad.
    </p>
</blockquote>
<h3>Visión</h3>
<blockquote>
    <p class="text-justify">
        Ofrecer una herramienta que permita acercar a usuarios con una necesidad de información extra a empresas,
        organismos  o negocios privados que promueven una cultura orientada a la adaptabilidad y a la no
        discriminación
    </p>
</blockquote>
<h3>Misión</h3>
<blockquote>
    <p class="text-justify">
        Facilitador tiene la misión de ofrecer la posibilidad de que aquellos organismos y empresas puedan publicitar su
        servicios adaptados y por otro lado aporta esa información a los colectivos de personas discapacitadas de forma
        que fácilmente puedan acceder a dicha información. Dadas las capacidades de localización que ofrece Google Maps el
        ámbito geográfico en el que se aplicaria seria global. Con ello venimos a cubrir un déficit de información sobre
        servicios adaptados que se puede apreciar en la mayoría de plataformas existentes en la actualidad.
    </p>
</blockquote>
<h3>Valores</h3>
<blockquote>
    <p class="text-justify">
        <ul>
            <li>Trabajo en equipo</li>
            <li>Compromiso con la calidad y la mejora continua</li>
            <li>Compromiso con nuestros usuarios/as en la prestación de un servicio de calidad.</li>
        </ul>
    </p>
</blockquote>



